#logo {
	margin-left: 1em;
	font-size: 3em;
	font-weight: bold;
}
html{
	font-family: 'Ubuntu', sans-serif;
}

nav::first-letter { 
    font-size: 1.2em;
}

body {
	background-image: url("../bg.jpg");
	background-size:cover;
}

.container {
	background: rgba(255,255,255,0.85);
	padding: 3em;
	animation-name: come;
	animation-duration: 3s;
}

#aboutus {
	font-size: 1.37em;
}

@keyframes come {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}