#logo {
	margin-left: 1em;
	font-size: 3em;
	font-weight: bold;
}
html{
	font-family: 'Ubuntu', sans-serif;
}

nav::first-letter { 
    font-size: 1.2em;
}

body {
	background-image: url("https://cdn.pixabay.com/photo/2015/09/23/09/33/war-953246_960_720.jpg");
	background-size:cover;
}

.container {
	background: rgba(255,255,255,0.85);
	padding: 3em;
	animation-name: come;
	animation-duration: 3s;
}

#aboutus {
	font-size: 1.37em;
}

@keyframes come {
	from {
		transform: rotate3d(1,1,1,10000deg);
	}
	10% {
		display: hidden;
	}
	20% {
		display: block;
	}
	30% {
		display: none;
	}
	50% {
		display: block;
		width: 10%;
		height: 10%;
	}
	to {
		transform: rotate3d(0,1,0.5,0deg);
	}
}